   // Border radius size
   $radius-XXS: 4px;
   $radius-XS: 8px;
   $radius-S: 12px;
   $radius-M: 16px;
   $radius-L: 20px;
   $radius-XL: 24px;
   $radius-XXL: 28px;

   // Border line thickness
   $border-S: 1px;
   $border-M: 2px;
   $border-L: 5px;
