// Pramery colors

$primary-color: rgba(254, 218, 106, 1);
$primary-light-color: rgba(212, 212, 220, 1);
$primary-semidark-color: rgba(57, 63, 77, 1);
$primary-dark-color: rgba(29, 30, 34, 1);

// Transparent pramery colors

$transparent-primary-color: rgba(254, 218, 106, .8);
$transparent-primary-light-color: rgba(212, 212, 220, .8);
$transparent-primary-semidark-color: rgba(57, 63, 77, .8);
$transparent-primary-dark-color: rgba(29, 30, 34, .8);

// Components Colors

// Natural Palette
$error-message-color: #FFEECB;
$test-color:#393F4D





#2B93FA
#F3F9FF
#475675
// Matching Palette
#A4ABBD
// Spot Palette
#686F7E
#E1F1FF
#D9A21B
#FFEECB
// Shades
#393F4D
#5B6171
#808696
#A6ADBE
#CFD5E7
// Error color

#B490AE
#917C98
// Submit color
#F9F871
#8EDE86
#30B99B